src/backend/node_modules
src/backend/package-lock.json
src/backend/test


src/client/node_modules
src/client/dist
src/client/package-lock.json

src/web/node_modules
src/web/package-lock.json

src/client/node_modules

.idea
.git
src/log-day-day