src/day-day-up-back-server/node_modules
src/day-day-up-back-server/package-lock.json
src/day-day-up-back-server/test


src/day-day-up-client/node_modules
src/day-day-up-client/dist
src/day-day-up-client/package-lock.json

src/day-day-up-vue/node_modules
src/day-day-up-vue/package-lock.json

src/client/node_modules

.idea
.git
src/log-day-day