<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Hello World!</title>
</head>
<body>

<div>
    <div>Test Update</div>
    <button onclick="update()">检查更新</button>
    <button onclick="sendNotification()">测试通知</button>
</div>
<script>
    const {ipcRenderer} = require('electron')

    ipcRenderer.on("message", (event, text) => {
        console.log(arguments);
    });
    ipcRenderer.on("downloadProgress", (event, progressObj)=> {
        console.log(progressObj);
    });
    ipcRenderer.on("isUpdateNow", () => {
        ipcRenderer.send("isUpdateNow");
    });

    function sendNotification(){
        ipcRenderer.send('send-notification')
    }
</script>
</body>
</html>