body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f1ecec;
}
.toolbar{
    font-size: 20px;
    color: white;
    background-color: #3894f3;
    text-align: center;
    padding: 15px 0;
}
.setting-form {
    padding: 45px 0px 0 45px;
}